{% extends "base.html" %}

{% block content %}
<!--connect-->
<div class = "container-fluid padding">
	<div class = "row text-center padding">
		<div class = "col-12">
			<h1 class = "display-3">Contact Us</h1>
        </div>
        <hr class = "dark">
		<div class = "col-12 social padding">
            <a href = "mailto: dsc.uwa@gmail.com"><i class = "fas fa-envelope-square"></i></a>
			<a href = "https://www.facebook.com/dsc.uwa/"><i class = "fab fa-facebook"></i></a>
            <a href = "https://www.linkedin.com/company/dscuwa/about/"><i class = "fab fa-linkedin"></i></a>
		</div>
	</div>
</div>
{% endblock %}